body {
  padding-top: 56px;
}

body.censored .sensitive-data {
  filter: blur(10px);
}

body.censored .table .sensitive-data {
  color: transparent !important;
  background-color: var(--pme-text-color) !important;
  filter: none;
  opacity: 0.3;
}

body.censored .sensitive-data.inferred-data {
  color: transparent !important;
  background-color: var(--pme-text-warning-color) !important;
  filter: none;
  opacity: 0.3;
}

body.censored .sourced-data.custom-data {
  color: transparent !important;
  background-color: rgba(13, 110, 253, 0.8) !important;
  filter: none;
  opacity: 0.3;
}

body.censored .sensitive-data.hidden {
  display: none !important;
  filter: none;
}

body.censored .sensitive-data.black {
  color: transparent !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  filter: none;
}

body.censored .sensitive-data.gray {
  color: transparent !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  filter: none;
  opacity: 0.3;
}

body.censored .performance-positive {
  color: transparent !important;
  background-color: rgba(0, 203, 57, 0.6) !important;
  filter: none;
}

body.censored .performance-negative {
  color: transparent !important;
  background-color: rgba(229, 34, 12, 0.6) !important;
  filter: none;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
